In [9]:
import pandas as pd

In [27]:
df = pd.read_csv('ALGN.csv', header = 0)

print(df['Date'][0]) 
print(df.loc[1000, :])

2001-01-30
Date         2005-01-25
Open                9.5
High               9.72
Low                9.25
Close              9.44
Adj Close          9.44
Volume          1266500
Name: 1000, dtype: object

In [29]:
print(df.iloc[5245, 3])

605.48999

In [35]:
print(df.iloc[range(1,10), range(2,5)])

      High      Low    Close
1  17.1875  13.4375  13.5000
2  14.3750  13.0000  14.1875
3  14.5625  13.7500  14.1250
4  14.5000  13.8750  14.1250
5  14.0625  13.8750  14.0000
6  14.0625  13.0000  13.0625
7  13.1875  13.0000  13.0625
8  13.0625  11.8750  12.0000
9  12.1250  10.9375  11.0625

In [38]:
a = 100
print(df['Low'] > a)

0       False
1       False
2       False
3       False
4       False
        ...
5431     True
5432     True
5433     True
5434     True
5435     True
Name: Low, Length: 5436, dtype: bool

In [44]:
print(df[   (df['Low'] > a) & (df['High'] >50)])

            Date        Open        High         Low       Close   Adj Close  \
3996  2016-12-16  100.180000  101.790001  100.019997  101.139999  101.139999
3997  2016-12-19  101.559998  102.099998  100.089996  100.250000  100.250000
4039  2017-02-21  102.279999  102.900002  101.059998  101.860001  101.860001
4040  2017-02-22  100.610001  101.199997  100.029999  101.089996  101.089996
4041  2017-02-23  101.209999  101.650002  100.269997  101.160004  101.160004
...          ...         ...         ...         ...         ...         ...
5431  2022-08-31  250.210007  252.500000  243.000000  243.699997  243.699997
5432  2022-09-01  238.960007  245.970001  234.009995  245.740005  245.740005
5433  2022-09-02  249.539993  250.940002  241.919998  244.509995  244.509995
5434  2022-09-06  244.550003  244.809998  234.550003  238.990005  238.990005
5435  2022-09-07  239.229996  250.289993  237.660004  249.940002  249.940002

       Volume
3996  1401900
3997   738700
4039   571800
4040   870900
4041   610400
...       ...
5431   530500
5432   654200
5433   603100
5434   652200
5435   594700

[1399 rows x 7 columns]